<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CityTax</key>
	<string>0.05</string>
	<key>ProvinceTax</key>
	<string>0.07</string>
	<key>FederalTax</key>
	<string>0.07</string>
</dict>
</plist>
